################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/flask-getting-started
/__pycache__
/.vs/*
