{% extends "base.html" %}

{% block title %}New Task{% endblock %}

{% block content %}

<p align="right">
    <a href={{ url_for('home') }} class="button">Home</a>
    <a href={{ url_for('logout') }} class="button">Logout</a>
</p>

<form method="post">
    <table>
        <tr>
            <th colspan="2">Add new task</th>
        </tr>
        <tr>
            <th>Titel</th>
            <td><textarea name="titel" cols="60" rows="1"></textarea></td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><textarea name="contact" cols="10" rows="1"></textarea></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description" cols="60" rows="6"></textarea></td>
        </tr>
        <tr>
            <th colspan="2"> <button class="btn" type="submit">Add Task</button></th>
        </tr>
    </table>
</form>
<br />
{% endblock %}