{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<p align="right">
    <td><a href={{ url_for('logout') }} class="button">Logout</a></td>
</p>

<div style="float: left;margin-right:50px">
    <table>
        <tr>
            <th>Tasks</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td> <a class="button" href={{ url_for('taskView', index=loop.index0) }}>{{task.titel}}</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td><a href={{ url_for('addTask') }} class="btn">AddTask</a></td>
        </tr>
    </table>
</div>

<div style="float: left">
    <table>
        <tr>
            <th>Country</th>
            <th>NewCases</th>
            <th>Cases/100'000</th>
        </tr>
        <tr>
            <td>World</td>
            <td>{{covidData.World.NewConfirmed}}</td>
            <td>-</td>
        </tr>
        <tr>
            <td><a href={{ url_for('plot', country="Italy") }} </a> Italy</td>
            <td>{{covidData.Italy.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Italy.NewConfirmed }} / {{inhabitants.Italy}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td><a href={{ url_for('plot', country="Germany") }} </a> Germany</td>
            <td>{{covidData.Germany.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Germany.NewConfirmed }} / {{inhabitants.Germany}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td><a href={{ url_for('plot', country="Switzerland") }} </a> Switzerland</td>
            <td>{{covidData.Switzerland.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Switzerland.NewConfirmed }} / {{inhabitants.Switzerland}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td><a href={{ url_for('plot', country="Spain") }} </a> Spain</td>
            <td>{{covidData.Spain.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Spain.NewConfirmed }} / {{inhabitants.Spain}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td><a href={{ url_for('plot', country="France") }} </a> France</td>
            <td>{{covidData.France.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.France.NewConfirmed }} / {{inhabitants.France}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td><a href={{ url_for('plot', country="United Kingdom") }} </a> United Kingdom</td>
            <td>{{covidData.UK.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.UK.NewConfirmed }} / {{inhabitants.UK}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td><a href={{ url_for('plot', country="United States of America") }} </a> United States of America</td>
            <td>{{covidData.USA.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.USA.NewConfirmed }} / {{inhabitants.USA}} * 100000).toFixed(2))</script>
            </td>
        </tr>
    </table>
</div>

<!--{% with messages = get_flashed_messages() %}
{% if messages %}
 {% for message in messages %}
{{ message }}
 {% endfor %}
{% endif %}
{% endwith %}-->
{% endblock %}