{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>PSH Webpage</h1>

<div style="float: left;margin-right:50px">
    <table>
        <tr>
            <th>Tasks</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td> <a href={{ url_for('taskView', index=loop.index0) }}>{{task.titel}}</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td style="font-size:0.8em;" click="location.href={{ url_for('addTask') }}"><a href={{ url_for('addTask') }}>Add new task</a></td> </td>
        </tr>
    </table>
</div>

<div style="float: left">
    <table>
        <tr>
            <th>Country</th>
            <th>NewCases</th>
            <th>Cases/100'000</th>
        </tr>
        <tr>
            <td>World</td>
            <td>{{covidData.World.NewConfirmed}}</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Italy</td>
            <td>{{covidData.Italy.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Italy.NewConfirmed }} / {{inhabitants.Italy}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td>Germany</td>
            <td>{{covidData.Germany.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Germany.NewConfirmed }} / {{inhabitants.Germany}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td>Switzerland</td>
            <td>{{covidData.Switzerland.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Switzerland.NewConfirmed }} / {{inhabitants.Switzerland}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td>Spain</td>
            <td>{{covidData.Spain.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.Spain.NewConfirmed }} / {{inhabitants.Spain}} * 100000).toFixed(2))</script>
            </td>
        </tr>
        <tr>
            <td>France</td>
            <td>{{covidData.France.NewConfirmed}}</td>
            <td>
                <script>document.write(({{ covidData.France.NewConfirmed }} / {{inhabitants.France}} * 100000).toFixed(2))</script>
            </td>
        </tr>
    </table>
</div>



{% endblock %}