{% extends "base.html" %}

{% block title %}Remove Task{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Titel</th>
        <td>{{task.titel}}</td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>{{task.contact}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{task.description}}</td>
    </tr>
</table>

<h2>Are you sure?</h2>
<form method="post">
    <button class="button" type="submit">Yes</button>
    <a href="{{ url_for('home') }}" class="button">No</a>
</form>
{% endblock %}