{% extends "base.html" %}

{% block title %}TaskView{% endblock %}

{% block content %}
<p align="right">
    <a href={{ url_for('home') }} class="button">Home</a>
    <a href={{ url_for('logout') }} class="button">Logout</a>
</p>

<table>
    <tr>
        <th>Titel</th>
        <td>{{task.titel}}</td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>{{task.contact}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{task.description}}</td>
    </tr>
</table>

<p align="left">
    <a href={{ url_for('updateTask', index=index) }} class="button">Update task</a>
    <a href={{  url_for('removeTask', index=index)}} class="button">Remove task</a>
</p>

{% endblock %}



