{% extends "base.html" %}

{% block title %}TaskView{% endblock %}

{% block content %}
<h1>TaskView</h1>
<table>
    <tr>
        <th>Titel</th>
        <td><div contenteditable>{{task.titel}}</div></td>
    </tr>
    <tr>
        <th>Contact</th>
        <td>{{task.contact}}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{task.description}}</td>
    </tr>

</table>

<div class="container">
    <div class="button">
        <form action="{{ url_for('updateTask', index=index) }}" style="width:100px; display:inline-block;">
            <input type="submit" value="Update task" />
        </form>
    </div>
    <form action="{{ url_for('updateTask', index=index) }}" style="width:100px; display:inline-block;">
        <input type="submit" value="Update task" />
    </form>

    <form action="{{ url_for('removeTask', index=index) }}" style="width:100px; display:inline-block;">
        <input type="submit" value="Remove task" />
    </form> <br /> <br />

    <form action="{{ url_for('home') }} " style="width:100px; display:inline-block;">
        <input type="submit" value="Back to Task List" />
    </form>
</div>
    {% endblock %}



